body{
    background-color: #CAD5FF;
    text-align: left;
    font-family: verdana;
}
p{
    background-color: white;
    color:#06233C;
    font-size:115%;
    padding: 10px;
}
h1{
    color:#4682B4;
    font-size:300%;
}