{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h1>My Profile</h1>
	<img src="{% static 'foto.png' %}" alt="foto" width="200" height="200">
	<p>Nama: {{ name }}</p>
    <p>NPM: {{ npm }}</p>
    <p>Umur: {{ age }} tahun</p>
	<p>Tempat Kuliah: Universitas Indonesia</p>
	<p>Hobi: Menonton film dan ngemil</p>
	<p>Deskripsi Diri: Nama panggilan saya Andin, jurusan Sistem Informasi UI 2018</p>
</body>
</html>